{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col">
   
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/static/img/redis.webp" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="float-end"><small class="text-muted">172.20.101.111</small></div>
            <h4 class="card-title">Produção</h4>
            <div class="row">
              <div class="col">
                <span class="badge rounded-pill text-bg-success">111</span>
                master
              </div>
              <div class="col">
                <span class="badge rounded-pill text-bg-success">112</span>
                slave
              </div>
              <div class="col">
                <span class="badge rounded-pill text-bg-success">113</span>
                master
              </div>
              <div class="col">
                <span class="badge rounded-pill text-bg-danger">114</span>
                slave
              </div>
              <div class="col">
                <span class="badge rounded-pill text-bg-success">115</span>
                master
              </div>
              <div class="col">
                <span class="badge rounded-pill text-bg-success">116</span>
                slave
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                Ping <span class="badge rounded-pill text-bg-success">ok</span>
              </div>
              <div class="col">
                Gravação leitura chave <span class="badge rounded-pill text-bg-success">ok</span>
              </div>
            </div>
            <br>
            <small><pre><b>Error:</b> Can't not connect ssh port on 172.20.101.114</pre></small>
            <div class="float-end"><small class="text-muted">Last updated 15 secs ago</small></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/static/img/redis.webp" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="float-end"><small class="text-muted">172.20.100.111</small></div>
            <h4 class="card-title">Homologação</h4>
            <div class="row">
              <div class="col">
                <span class="badge rounded-pill text-bg-success">111</span>
                master
              </div>
              <div class="col">
                <span class="badge rounded-pill text-bg-success">112</span>
                slave
              </div>
              <div class="col">
                <span class="badge rounded-pill text-bg-success">113</span>
                master
              </div>
              <div class="col">
                <span class="badge rounded-pill text-bg-success">114</span>
                slave
              </div>
              <div class="col">
                <span class="badge rounded-pill text-bg-success">115</span>
                master
              </div>
              <div class="col">
                <span class="badge rounded-pill text-bg-success">116</span>
                slave
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                Ping <span class="badge rounded-pill text-bg-success">ok</span>
              </div>
              <div class="col">
                Gravação leitura chave <span class="badge rounded-pill text-bg-success">ok</span>
              </div>
            </div>
            <br>
            <small><pre></pre></small>
            <div class="float-end"><small class="text-muted">Last updated 15 secs ago</small></div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  <div class="col">
    <p>É melhor um bolo com cobertura:</p>
    <img src="/static/img/How-to-Run-A-Python-Script_Watermarked.webp" width="100%"/>
  </div>
</div>
<div class="row pt-3">
  <div class="col">
    <p>É melhor um bolo com cobertura:</p>
    <img src="/static/img/Image-Processing-in-Python-With-Pillow_Watermarked.b86d7e55f981.jpg" width="100%"/>
  </div>
  <div class="col">
    <p>É melhor um bolo com cobertura:</p>
    <img src="/static/img/robocrop.realpython.net.webp" width="100%"/>
  </div>
  <div class="col">
    <p>É melhor um bolo com cobertura:</p>
    <img src="/static/img/How-Hash-Tables-are-Implemented-in-Python_Watermarked.7b3dae0df290.jpg" width="100%"/>
  </div>
  <div class="col">
    <p>É melhor um bolo com cobertura:</p>
    <img src="/static/img/LBYL-vs-EAPF-in-Python_Watermarked.9dea6e043766.jpg" width="100%"/>
  </div>
</div>
{% endblock %}